html{
    height: 100%;
}

body {
    background: url("/photos/background_img.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;   
    margin: 0;
}

main {
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}

/*----------------------section of header----------------------*/

header {
    height: 50px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

/*Glass effect*/
header {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-bottom-left-radius: 1px; 
    border-bottom-right-radius: 20px; 
    border-bottom:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logophoto img {
    width: 40px;
    padding: 2px;
    padding-left: 8px;
    border-radius: 15px;
}

.h1header img {
    align-items: center;
    width: 200px;
    height: 55px;
}

.headertext {
    align-items: center;
    display: flex;
}

.headertext div {
    padding-right: 30px;
    font-size: 1.2em;
}
.headertext a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-decoration: none;
    padding: 0;
    color: rgba(218, 253, 253, 0.689);
    display: flex;
    
}

/*----------------------section of nav----------------------*/

nav {
    min-width: 250px;
    height: 100%;
    padding-top: 33px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.nav-box {
    height: 100%;
}

/* Glass Effect */

.nav-box {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);  
    border-bottom-right-radius: 20px; 
    border-right: 3px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.h1_nav {
    color: rgba(218, 253, 253, 0.689);
    font-size: 2.1rem;
    font-family: monospace;
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.menu-nav {
    font-family: sans-serif;
}

.nav-list {
    padding-left: 15px;
    margin-top: -5px;
}

.nav-list img {
    width: 20px;
    pointer-events: none;
}

.nav-box li {
    list-style: none;
    padding: 5px 10px;
}

/* Glass Effect */

.nav-list div :hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 9px; 
    border: 3px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 30px;
    transition: 40ms;
    font-size: 1.4em;
}

.nav-list li:first-of-type {
    margin-top: 10px;
}

.nav-box a {
    color: rgba(239, 239, 239, 0.916);
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

/* ----------------------main---------------------- */

.main_section {
    margin-left: 265px;
    display: block;
    margin-right: 30px;
    margin-top: 120px;
}

/* ----------------------section---------------------- */

.h1_section {
    font-size: 30px;
    margin-left: 50px;
    color: rgba(218, 253, 253, 0.689);
}
.h1_section h1:first-of-type {
    margin-bottom: 0;
}

.h1_section h1:last-of-type {
    margin-top: 0;
}

.main_p {
    font-family: monospace;
    color: rgba(239, 239, 239, 0.916);
    margin-left: 35px;
    line-height: 20px;
}

.main_p a {
    text-decoration: none;
    color: rgba(239, 239, 239, 0.916);;
}

.socialm_box {
    margin-left: 35px;
}

.socialm_box div{
    margin-top: 15px;
    font-size: 27px;
    width: 220px;
    padding: 10px 20px;
    display: flex;
}

/* Glass Effect */

.instabox ,.facebookbox ,.Xbox {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 20px; 
}

.socialm_box img{
    width: 29px;
    height: 29px;
    width: auto;
}
.socialm_box a {
    text-decoration: none;
    color: rgba(231, 102, 231, 0.632);
    display: block;
    width: 250px;
}

.socialm_box a:first-of-type {
    width: auto;
    padding-right: 8px;
}

/* ----------------------article---------------------- */

article {
    margin-top: 90px;
    margin-left: 15px;
    padding: 20px;
    padding-bottom: 5px;
}

/* Glass effect */

article {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);  
    border-radius: 20px; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 3px solid rgba(255, 255, 255, 0.18);
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
  
h2 {
    font-size: 32px;
    margin-bottom: 1em;
    color: rgba(218, 253, 253, 0.689);
    text-align: center;
}
  
.cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    text-align: center;
    height: 320px;
}
  
.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: rgba(215, 130, 255, 0.397);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.card-content {
    display:table-cell;
    vertical-align:middle;
}

.card-title {
    margin-bottom: 0;
}
  
.card:not(:last-child) {
    margin-right: 10px;
}
  
.card:hover {
    color: rgba(239, 239, 239, 0.916);
    background: rgba(48, 47, 47, 0.324);
}
  
.card .card-title {
    font-size: 20px;
}
  
.card .card-content {
    margin: 20px 0;
    max-width: 85%;
}
  
.card .card-link-wrapper {
    margin-top: auto;
}
  
.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: rgba(255, 0, 255, 0.594);
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.2s;
}
  
.card:hover .card-link {
    background: rgba(27, 10, 29, 0.632);
}
  
.cards::-webkit-scrollbar {
    height: 12px;
}
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    border-radius: 92px;
}
  
.cards::-webkit-scrollbar-thumb {
    background: rgba(53, 9, 69, 0.63);
}
  
.cards::-webkit-scrollbar-track {
    background: gray;
}
  
@media (min-width: 500px) {
    .card {
      flex-basis: calc(50% - 10px);
    }
  
.card:not(:last-child) {
      margin-right: 20px;
    }
}
  
@media (min-width: 700px) {
    .card {
      flex-basis: calc(calc(100% / 3) - 20px);
    }
  
    .card:not(:last-child) {
      margin-right: 30px;
    }
}
  
@media (min-width: 1100px) {
    .card {
      flex-basis: calc(25% - 30px);
    }
  
    .card:not(:last-child) {
      margin-right: 40px;
    }
}

/* h1 final */

.h1_final {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgba(240, 248, 255, 0.694);
    font-size: 2.3rem;
}

/* ----------------------footer---------------------- */

footer {
    height: 170px;
    background-color: #1b1b32c0;
    backdrop-filter: blur(15px);
    margin-left: 250px;
    padding: 30px;
    font-family: monospace;
    color: rgba(239, 239, 239, 0.916);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.right_footer {
    font-size: 0.8rem;
    align-items: left;
}

.right_footer img {
    width: 30px;
}

.left-footer img {
    width: 50px;
    margin-left: 75px;
}

.footer p {
    display: block;
}